@model List<Customer>

@{
    ViewBag.Title = "Customer List";
}

<h2>Customer List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>BankId</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@customer.Id</td>
                <td>@customer.Name</td>
                <td>@customer.Email</td>
                <td>@customer.BankId</td>
            </tr>
        }
    </tbody>
</table>
